/* General Styling */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f9f9f9;
}
.vehicle-container {
  display: table;
  width: 100%;
  border-collapse: collapse; 
}
.vehicle-container .vehicle-row {
  display: table-row;
}
.vehicle-container .vehicle-column {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
.vehicle-container .header-row {
  font-weight: bold;
  background-color: #f4f4f4;
}
select {
	padding: 6px 15px;
  font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
select:focus {
	outline: none;
	border-color: #007bff; 
}
.active-status {
  background-color: rgb(113, 197, 113);
  color: white;
}
.inactive-status {
  background-color: rgb(240, 55, 55);
  color: white;
}

